@tailwind base;
@tailwind components;
@tailwind utilities;

/* Form */
.form {
  @apply w-full md:w-1/2 mt-8 text-[1rem] grow;
}

.form-group {
  @apply w-11/12 md:w-5/6 mx-auto mb-3 rounded-xl;
}

.form-control {
  @apply w-full outline-none px-2 py-1 md:px-3 md:py-2 rounded-lg placeholder:text-sm md:placeholder:text-[1rem] border-2 border-gray-200;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

svg {
  margin: 9px 10px;
  color: #bdcbd6;
  cursor: pointer;
  font-size: 21px;
  transition: transform 0.15s;
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.message {
  display: flex;
  align-items: center;
}
.content {
  max-width: 80%;
  overflow-wrap: break-word;
  padding: 5px 20px;
  margin: 5px 15px;
  font-size: 1.1rem;
  border-radius: 20px;
  color: #656b75;
  background: white;
}
.typing-content {
  display: inline-block;
  padding: 5px 20px;
  margin: 5px 15px;
  font-size: 1.1rem;
  border-radius: 20px;
  color: #656b75;
  background: white;
  width: 80px;
}

.sended {
  justify-content: flex-end;
}

.sended .content {
  background: #2180f3;
  color: white;
}

.received {
  justify-content: flex-start;
}

.message-time {
  margin-left: 15px;
}

.message-time svg.svg-inline--fa.fa-w-16 {
  width: 12px;
  margin: 0 5px;
}

.chats-container {
  display: flex;
  flex-direction: column-reverse;
  min-height: 500px;
}

.chats-container,
.contacts-container {
  max-height: 500px;
  scroll-behavior: smooth;
  overflow: auto;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background: #60f;
  animation: wave 1s linear infinite;
  animation-delay: -0.9s;
}
.dot.two {
  animation-delay: -0.7s;
}
.dot:nth-child(3) {
  animation-delay: -0.6s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

.active {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 15px;
  background: rgb(68, 222, 78);
  position: absolute;
  top: 35px;
  left: 18px;
}
